/* Geral  */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e2df9a;
}

/* Textos */

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #043e47;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
}

/* Main */

main {
  padding: 10px;
  /* background-color: bisque; */
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nome-loja {
  font-family: 'Satisfy', cursive;
}

/* NavBar */

.navBar {
  background-color: #043e47;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  flex-wrap: wrap;
}

.navBar > .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.navBar > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.navBar > ul > li {
  margin: 0 0.5rem;
}

.navBar > ul > li > a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 500;
  padding: 0.8rem 0.8rem;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navBar > ul > li > a:active,
.navBar > ul > li > a:hover {
  background-color: #02191d;
}

/* NavBar logo  */

.navBar .menu-btn i {
  color: #ffff;
  cursor: pointer;
  display: none;
}

/* Container  */

.container {
  /* background-color: royalblue; */
  gap: 10px;
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Card */

.produto {
  width: min-content;
  height: 400px;
  padding: 25px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #e1e3e6;
  transition: 0.4s;
}

.produto:hover {
  border-color: #ffffff;
  transform: translateY(-10px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
}

.produto .produto-header h3 {
  color: #404d61;
  font-size: 1.25rem;
}

.produto .produto-header p {
  color: #757d8a;
  font-size: 1rem;
}

.produto .produto-header span {
  color: #3cf44e;
  background-color: #f3f0f0;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
}

.produto .produto-img {
  /* position: relative; */
  height: 150px;
  width: 150px;
  border-radius: 12px;
  margin: 10px 0;
  overflow: hidden;
}

.produto .produto-img img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.produto:hover .produto-img img {
  transform: scale(1.06);
}

/* Footer */

footer {
  height: auto;
  display: flex;
  order: 3;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0 10px;
  padding: 1rem;
  background-color: #043e47;
}

footer > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}



/* Medias queries  */

@media (max-width: 920px) {
  .navBar > .menu-btn > i {
    display: block;
  }

  .navBar > ul {
    position: fixed;
    top: 70px;
    left: -100%;
    background-color: #02191d;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  .navBar ul.open {
    left: 0;
  }

  .navBar > ul > li {
    width: 100%;
    margin: 50px 0;
  }

  .navBar > ul > li > a {
    font-size: 25px;
  }

  .navBar ul li a.active,
  .navBar ul li a:hover {
    background: none;
    color: #ffff;
  }



}

@media (max-width: 320px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer > ul {
    /* display: flex;
    flex-direction: column; */
    display:none;
    
  }

  .nome-loja {
    font-size: 2rem;
    color: #fff;
  }
}
